.id-col {
    margin-top: -5px;
}

.titulo-col {
    margin-top: -5px;
}

.solicitante-col {
    margin-top: -5px;
}

.planejamento-col {
    margin-top: 12px;
}

.dataPlanejamento-label {
    margin-top: -3px !important;
    position: absolute;
    z-index: 2;
    left: 50px;
}