<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="drawerToggle()">
                <ion-icon name="menu-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon id="toggleTheme-icon" name="moon-outline"></ion-icon>
                <ion-icon id="toggleTheme-icon" name="sunny-outline"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>