.info-1 {
    font-size: 14px;
    color: #999;
    cursor: pointer;
    display: inline-flex;
}

.info-1 span {
    color: blue;
}

.alertCtrl {
    --background: var(--ion-background-color);
}

.formCss {
    font: message-box;
    font-size: 12px;
    font-weight: bold;
    color: red;
    border-radius: 0px 0px 10px 10px;
    background-color: #f2dede;
    padding: 10px;
}

.img-login {
    padding: 20px;
}

.card-center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 30%;
}

.loginForm {
    padding: 20px;
}

.background {
    background-color: #f2f2f2 !important;
}

// Mobile
@media only screen and (max-width: 480px),
only screen and (max-device-width: 480px) {
    .card {
        width: 100% !important;
    }
}

@media only screen and (max-device-width: 640px) {
    .card {
        width: 100% !important;
    }
}

// Ipad e tablets
@media only screen and (max-device-width: 768px) {
    .card {
        width: 100% !important;
    }
}

@media only screen and (max-device-width: 820px) {
    .card {
        width: 80% !important;
    }
}