* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.header-bg {
    position: unset;
}

.menu-header-bg {
    height: 200px;
    width: 350px;
    background: var(--ion-color-primary);
    background: linear-gradient(40deg, var(--ion-color-primary-linear-gradient) 0%, var(--ion-color-primary-linear-gradient-rgba) 100%);
    box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
    transform: rotate(-15deg);
    border-radius: 10px 10px 10px 50px;
    margin-left: -18px;
    margin-top: -50px;
    margin-bottom: 60px;
}

.header-content {
    position: absolute;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
    .header-img {
        background-color: var(--ion-color-light);
        border-radius: 50%;
        border: 7px solid var(--ion-color-primary-shade);
        margin-right: 15px;
        display: grid;
        width: 110px;
        height: 110px;
        top: 30px;
        left: 15px;
        align-items: center;
        text-align: center;
        img {
            width: 100px;
            height: 100px;
        }
        ion-img::part(image) {
            border-radius: 50%;
        }
        #toggleTheme-icon {
            width: 20px;
            height: 20px;
            margin: 0;
            padding: 0;
            position: absolute;
            margin-left: 38px;
            margin-top: 60px;
        }
    }
    h2 {
        font-weight: 300;
        color: var(--ion-color-light);
    }
    p {
        font-size: 12px;
        color: var(--ion-color-light);
        font-weight: 100;
        letter-spacing: 0.4px;
    }
}

.menu-items {
    margin: 0px;
    ion-icon {
        margin-right: 20px;
        color: var(--ion-color-primary-shade);
    }
    ion-item {
        padding-left: 15px;
        margin-bottom: 10px;
    }
    ion-accordion {
        .subMenu-items {
            padding-left: 35px;
        }
    }
    .active {
        border-left: 5px solid;
        color: var(--ion-color-primary-shade);
        ion-ico {
            color: var(--ion-color-primary);
        }
    }
}

.footer-bg {
    position: unset;
    height: 50px;
    width: 350px;
    background: var(--ion-color-primary);
    background: linear-gradient(40deg, var(--ion-color-primary-linear-gradient) 0%, var(--ion-color-primary-linear-gradient-rgba) 100%);
    box-shadow: 0px 1px 10px rgb(98 140 255 / 50%);
    border-radius: 80px 80px 10px 10px;
    margin-left: -24px;
    p {
        font-size: 10px;
        height: 5vh;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.logout {
    top: 15px;
    right: 15px;
    align-items: center;
    display: flex;
    position: absolute;
    font-size: 30px;
    color: var(--ion-color-light);
}